#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# for DEB_HOST_ARCH
include /usr/share/dpkg/architecture.mk

%:
	dh $@

ifeq ($(DEB_HOST_ARCH),amd64)
FLAG=-DNOALIGN=ON
else ifeq ($(DEB_HOST_ARCH),arm64)
FLAG=-DARM_DYNAREC=ON
else ifeq ($(DEB_HOST_ARCH),loong64)
FLAG=-DLARCH64_DYNAREC=ON
else ifeq ($(DEB_HOST_ARCH),riscv64)
FLAG=-DRV64_DYNAREC=ON
endif

override_dh_auto_configure:
	dh_auto_configure -- \
	      -DCMAKE_BUILD_TYPE=RelWithDebInfo \
				-DBOX32=ON \
				-DNOGIT=ON \
				${FLAG}

override_dh_auto_test:

override_dh_strip:
	dh_strip --exclude=libgcc_s.so.1 \
	--exclude=libpng12.so.0 \
	--exclude=libstdc++.so.5 \
	--exclude=libstdc++.so.6 \
	--exclude=libmbedcrypto.so.7 \
	--exclude=libssl.so.1.1 \
	--exclude=libunwind.so.8 \
	--exclude=libmbedtls.so.14 \
	--exclude=libmbedtls.so.12 \
	--exclude=libcrypto.so.1.1 \
	--exclude=libmbedcrypto.so.3 \
	--exclude=libmbedx509.so.0 \
	--exclude=libmbedx509.so.1 \
	--exclude=libcrypto.so.1.0.0 \
	--exclude=libssl.so.1.0.0 \
	--exclude=libz.so.1 \
	--exclude=box64-bash

override_dh_shlibdeps:
	dh_shlibdeps --exclude=libgcc_s.so.1 \
	--exclude=libpng12.so.0 \
	--exclude=libstdc++.so.5 \
	--exclude=libstdc++.so.6 \
	--exclude=libmbedcrypto.so.7 \
	--exclude=libssl.so.1.1 \
	--exclude=libunwind.so.8 \
	--exclude=libmbedtls.so.14 \
	--exclude=libmbedtls.so.12 \
	--exclude=libcrypto.so.1.1 \
	--exclude=libmbedcrypto.so.3 \
	--exclude=libmbedx509.so.0 \
	--exclude=libmbedx509.so.1 \
	--exclude=libcrypto.so.1.0.0 \
	--exclude=libssl.so.1.0.0 \
	--exclude=libz.so.1 \
	--exclude=box64-bash

override_dh_auto_clean:
	dh_auto_clean && rm -f src/git_head.h
